# requirements.txt
fastapi==0.115.12
uvicorn[standard]==0.34.0
python-multipart==0.0.20
opencv-python-headless==4.11.0.86
numpy==2.2.4
scikit-image==0.25.2
scipy==1.15.2
pandas==2.2.3
Pillow==11.1.0
requests==2.32.3
pyspellchecker==0.8.2
jinja2==3.1.4
weasyprint==62.3
pytesseract==0.3.10
